face-recognition
nemo-toolkit[asr]>=2.dev
ctranslate2==4.4.0
gradio

numpy
pandas
tqdm

opencv-python
soundfile

ipython
omegaconf
wget
nltk

git+https://github.com/stiyqr/Wav2Lip.git
git+https://github.com/SYSTRAN/faster-whisper.git
git+https://github.com/MahmoudAshraf97/ctc-forced-aligner.git
git+https://github.com/MahmoudAshraf97/demucs.git
git+https://github.com/oliverguhr/deepmultilingualpunctuation.git
git+https://github.com/stiyqr/batch-face.git@master

https://raw.githubusercontent.com/AwaleSajil/ghc/master/ghc-1.0-py3-none-any.whl